# Ignore models
models/

# Ignore audio and transcripts
audio_files/
transcripts/

# Ignore python virtual environment
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore compiled whisper.cpp code
scripts/whisper.cpp/
